.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  min-height: 150px;
  padding: 20px;
  color: white;
}

.App-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-nav a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
}

.App-nav a:hover {
  text-decoration: underline;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
